<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fxl.template.hospital.mapper.HospitalInfoMapper">
	<resultMap id="BaseResultMap" type="com.fxl.template.hospital.entity.HospitalInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="introduction" property="introduction" jdbcType="VARCHAR" />
		<result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="province_id" property="provinceId" jdbcType="INTEGER" />
		<result column="city_id" property="cityId" jdbcType="INTEGER" />
		<result column="order_key" property="orderKey" jdbcType="VARCHAR" />
		<result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
		<result column="level" property="level" jdbcType="INTEGER" />
		<result column="parent_id" property="parentId" jdbcType="INTEGER" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="is_valid" property="isValid" jdbcType="INTEGER" />
		<result column="order_by" property="orderBy" jdbcType="INTEGER" />
		<result column="is_remote" property="isRemote" jdbcType="INTEGER" />
		<result column="is_consultant" property="isConsultant"
			jdbcType="INTEGER" />
		<result column="remotes" property="remotes" jdbcType="INTEGER" />
		<result column="consultants" property="consultants" jdbcType="INTEGER" />
		<result column="is_weight" property="isWeight" jdbcType="INTEGER" />
		<result column="is_school" property="isSchool" jdbcType="INTEGER" />
		<result column="is_blood" property="isBlood" jdbcType="TINYINT" />
		<result column="is_class" property="isClass" jdbcType="TINYINT" />
		<result column="is_mobile" property="isMobile" jdbcType="TINYINT" />
		<result column="is_payment" property="isPayment" jdbcType="TINYINT" />
		<result column="is_autonomy" property="isAutonomy" jdbcType="INTEGER" />
		<result column="is_video" property="isVideo" jdbcType="TINYINT" />
		<result column="is_network" property="isNetwork" jdbcType="TINYINT" />
		<result column="is_lease" property="isLease" jdbcType="TINYINT" />
		<result column="hospital_key" property="hospitalKey" jdbcType="VARCHAR" />
		<result column="is_integrated_service" property="isIntegratedService"
			jdbcType="TINYINT" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.fxl.template.hospital.entity.HospitalInfo"
		extends="BaseResultMap">
		<result column="food_warning" property="foodWarning" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, introduction, img_url, address, province_id, city_id,
		order_key, add_time,
		level, parent_id, phone, is_valid, order_by, is_remote, is_consultant,
		remotes, consultants,
		is_weight, is_school, is_blood, is_class, is_mobile, is_payment, is_autonomy,
		is_video,
		is_network, is_lease, hospital_key, is_integrated_service
	</sql>
	<sql id="Blob_Column_List">
		food_warning
	</sql>
	<select id="findById" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from hospital_info
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="delete" parameterType="java.lang.Integer">
		delete from hospital_info
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.fxl.template.hospital.entity.HospitalInfo">
		insert into hospital_info (id, name, introduction,
		img_url, address, province_id,
		city_id, order_key, add_time,
		level, parent_id, phone,
		is_valid, order_by, is_remote,
		is_consultant, remotes, consultants,
		is_weight, is_school, is_blood,
		is_class, is_mobile, is_payment,
		is_autonomy, is_video, is_network,
		is_lease, hospital_key, is_integrated_service,
		food_warning)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{introduction,jdbcType=VARCHAR},
		#{imgUrl,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{provinceId,jdbcType=INTEGER},
		#{cityId,jdbcType=INTEGER}, #{orderKey,jdbcType=VARCHAR},
		#{addTime,jdbcType=TIMESTAMP},
		#{level,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR},
		#{isValid,jdbcType=INTEGER}, #{orderBy,jdbcType=INTEGER},
		#{isRemote,jdbcType=INTEGER},
		#{isConsultant,jdbcType=INTEGER}, #{remotes,jdbcType=INTEGER}, #{consultants,jdbcType=INTEGER},
		#{isWeight,jdbcType=INTEGER}, #{isSchool,jdbcType=INTEGER},
		#{isBlood,jdbcType=TINYINT},
		#{isClass,jdbcType=TINYINT}, #{isMobile,jdbcType=TINYINT}, #{isPayment,jdbcType=TINYINT},
		#{isAutonomy,jdbcType=INTEGER}, #{isVideo,jdbcType=TINYINT},
		#{isNetwork,jdbcType=TINYINT},
		#{isLease,jdbcType=TINYINT}, #{hospitalKey,jdbcType=VARCHAR},
		#{isIntegratedService,jdbcType=TINYINT},
		#{foodWarning,jdbcType=LONGVARCHAR})
	</insert>
	<update id="update" parameterType="com.fxl.template.hospital.entity.HospitalInfo">
		update hospital_info
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="introduction != null">
				introduction = #{introduction,jdbcType=VARCHAR},
			</if>
			<if test="imgUrl != null">
				img_url = #{imgUrl,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="provinceId != null">
				province_id = #{provinceId,jdbcType=INTEGER},
			</if>
			<if test="cityId != null">
				city_id = #{cityId,jdbcType=INTEGER},
			</if>
			<if test="orderKey != null">
				order_key = #{orderKey,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="level != null">
				level = #{level,jdbcType=INTEGER},
			</if>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=INTEGER},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="isValid != null">
				is_valid = #{isValid,jdbcType=INTEGER},
			</if>
			<if test="orderBy != null">
				order_by = #{orderBy,jdbcType=INTEGER},
			</if>
			<if test="isRemote != null">
				is_remote = #{isRemote,jdbcType=INTEGER},
			</if>
			<if test="isConsultant != null">
				is_consultant = #{isConsultant,jdbcType=INTEGER},
			</if>
			<if test="remotes != null">
				remotes = #{remotes,jdbcType=INTEGER},
			</if>
			<if test="consultants != null">
				consultants = #{consultants,jdbcType=INTEGER},
			</if>
			<if test="isWeight != null">
				is_weight = #{isWeight,jdbcType=INTEGER},
			</if>
			<if test="isSchool != null">
				is_school = #{isSchool,jdbcType=INTEGER},
			</if>
			<if test="isBlood != null">
				is_blood = #{isBlood,jdbcType=TINYINT},
			</if>
			<if test="isClass != null">
				is_class = #{isClass,jdbcType=TINYINT},
			</if>
			<if test="isMobile != null">
				is_mobile = #{isMobile,jdbcType=TINYINT},
			</if>
			<if test="isPayment != null">
				is_payment = #{isPayment,jdbcType=TINYINT},
			</if>
			<if test="isAutonomy != null">
				is_autonomy = #{isAutonomy,jdbcType=INTEGER},
			</if>
			<if test="isVideo != null">
				is_video = #{isVideo,jdbcType=TINYINT},
			</if>
			<if test="isNetwork != null">
				is_network = #{isNetwork,jdbcType=TINYINT},
			</if>
			<if test="isLease != null">
				is_lease = #{isLease,jdbcType=TINYINT},
			</if>
			<if test="hospitalKey != null">
				hospital_key = #{hospitalKey,jdbcType=VARCHAR},
			</if>
			<if test="isIntegratedService != null">
				is_integrated_service = #{isIntegratedService,jdbcType=TINYINT},
			</if>
			<if test="foodWarning != null">
				food_warning = #{foodWarning,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
</mapper>