<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.3.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
	 					http://www.springframework.org/schema/mvc 
                        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">
	
	<!-- 使用annotation 自动注册bean,并保证@Required,@Autowired的属性被注入 -->
	<!-- <context:annotation-config /> -->
	
	<context:component-scan base-package="com.fxl">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<!-- 配置属性文件 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<!-- <value>classpath:conf/jdbc.properties</value>
				<value>classpath:conf/spring-config.properties</value> -->
				<!-- 推荐使用file的方式引入，这样可以将配置和代码分离 -->  
              	<value>file:${WEBAPP_TEMPLATE_CONF}/conf/jdbc.properties</value>
              	<value>file:${WEBAPP_TEMPLATE_CONF}/conf/spring-config.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- 使用ehcache缓存 -->
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
    	<property name="configLocation" value="classpath:conf/ehcache.xml" />
    </bean>
    
	<!-- 导入Spring配置文件 -->
	<import resource="classpath:conf/spring-datasource-jdbc.xml" />
	<!-- <import resource="classpath:conf/spring-datasource-solr.xml" /> -->
	<!-- 导入dubbo配置文件 -->
	<!-- <import resource="classpath:conf/spring-dubbo-consumer.xml"/> -->
	<!-- 导入定时器配置文件 -->
	<!-- <import resource="classpath:conf/spring-quartz.xml"/> -->
 	
</beans>