<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<!-- <bean id="jobFactory" class="com.fxl.quartz.MyJobFactory"></bean> -->
	
	<!-- 线程执行器配置，用于任务注册 -->
	<bean id="executor"	class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="10" />
		<property name="maxPoolSize" value="100" />
		<property name="queueCapacity" value="500" />
	</bean>
	
	<!-- 要调用的工作类 -->
	<bean id="QuartzJob" class="com.fxl.quartz.QuartzJob" />
	
	<!-- 使用MethodInvokingJobDetailFactoryBean，任务类可以不实现Job接口，通过targetMethod指定调用方法 -->
	<!-- 调度业务 : 定义调用对象和调用对象的方法 -->
	<bean id="quartzJobTestMethod"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="QuartzJob" />
		</property>
		<property name="targetMethod">  <!-- 要执行的方法名称 -->
			<value>quartzJobTest</value>
		</property>
	</bean>

	<!-- 定义触发时间 -->
	<bean id="quartzJobTestTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="quartzJobTestMethod"></property>
		<property name="cronExpression" value="0/5 * * * * ?"></property>
	</bean>
	
	<!--设置调度 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序 -->
	<bean id="SpringJobSchedulerFactoryBean" lazy-init="true" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="quartzJobTestTrigger" />
			</list>
		</property>
		<property name="taskExecutor" ref="executor" />
	</bean>
	
</beans>